/******************************
POST CSS Variables
******************************/

:root {
  --orange: #f68e25;
  --white: #fff;
  --lightgrey: #f8f8f8;
  --darkgrey: #666;
  --black: #000;
  --blue: dodgerblue;
  --disclaimer: aquamarine;
  --color-nav: #10141f;
}

/******************************
BASE STYLES
******************************/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--orange);
  width: 100%;
  margin: 0;

  font-family: Verdana,Geneva,sans-serif;
}

nav, navbar, navbar-default {
  height: 170px;
  background-color: black;
}

nav div.menu-icon {
  display: inline;
  float: left;
}

.nav-btn svg {
  display: none;
}

li {
  list-style: none;
}

a {
  color: var(--orange);
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: var(--lightgrey);
  opacity: .8;
}

a:active {
  color: var(--lightgrey);
}

button {
  background-color: var(--orange);
  color: #666;
  height: 50px;
  width: 200px;
  font-size: 21px;
  border-radius: 7px;
  border: solid 1px var(--darkgrey);
  position: absolute bottom;

}

button:hover {
  border: solid 2px var(--darkgrey);
  transition: border .2s linear;
}

button:active {
  opacity: .8;
}

.button-left {
  margin-left: 15%;
  margin-bottom: 10px;

}

.button-right {
  margin-left: 20%;
  margin-bottom: 10px;
}

.logo {
  width: 400px;
  padding-top: 0px;
}

.phone {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}

.banner {
  background-image: url('../img/FrontPageImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 60vh;
  margin-top: 170px;

  box-shadow: inset -8px -8px 20px lightgrey;

  border-radius: 0 0 5px 5px;
}

.main-header {
  background-color: var(--black);
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 1000;

  opacity: .9;
}

.row {
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: solid 1px var(--lightgrey);
  position: relative;
}

.row-top {
  margin-top: 10px;
}

.col {
  margin: auto;
  width: 45%;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.primary-col {
  float: left;
  width: 47.5%;
  margin-top: 20px;
}

.secondary-col {
  float: right;
  width: 47.5%;
  margin-top: 20px;
}

.main-img {
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 8px 8px 10px vasr(--lightgrey);
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}

.body-header,
.body-text {
  color: #666;
  padding: 0 10px;
}

.body-header {
  margin-top: 15%;
  margin-bottom: 5%;
}

.body-text {
  font-size: 13px;
}

.grey-section {
  background-color: var(--lightgrey);
}

#disclaimer {
  color: var(--disclaimer);
  text-align: center;
  padding: 10px;
}

/******************************
CONTACT PAGE
******************************/

.subpage-background {
  background: linear-gradient(black, var(--darkgrey));
  min-height: 100vh;
  width:100%;
  color: var(--white);
}

#contact-form {
  width: 60%;
  margin-top: 170px;
  background-color: var(--blue);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 2px var(--white);
  color: var(--black);
}

#contact-heading {
  width: 60%;
  margin: 50px auto;
  text-align: center;

}

input {
  border-bottom: 20px;
  margin-bottom: 30px;
}

#submit-button {
  margin: 20px 0 20px 50px;
  color: var(--black);
}

.enquiry-message {
  width: 60%;
  margin: 400px auto 0 auto;
  font-size: 19px;
  font-weight: 200;
}

label,
input,
textarea {
  margin-left: 50px;
  margin-top: 5px;
  font-size: 1em;
}

input {
  height: 20px;
}

#first-name,
#last-name,
#phone-number,
#instrument {
  width: 20%;
}

#email {
  width: 40%;
}

#enquiry {
  width: 40%;
  height: 80px;
}


/******************************
ABOUT PAGE
******************************/

.content {
  margin-top: 170px;
}

.about,
.lessons {
  width: 40%;
  float: left;
  text-align: center;
  color: var(--white);
}

.about-img {
  width: 40%;
  float: right;
  background-image: url('../img/Drums boy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 60vh;
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}

/******************************
TEACHERS
******************************/

.teachers-list {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px, solid, black;
}

th {
  background-color: var(--white);
  color: var(--darkgrey);
}

td {
    color: var(--white);;
}

/******************************
LOCATION
******************************/

iframe {
	width: 90%;
	margin-left: 5%;
}

.map {
	padding-top: 190px;
	margin: auto;
	height: 100%;
	width: 60%;
	margin-left: 20%;
}

.location-description {
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 12px;
}

/******************************
FOOTER
******************************/

.main-footer {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: var(--darkgrey);
  opacity: .9;
  border-top: solid 1px var(--lightgrey);

  font-weight: 200;
  font-size: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  fill: var(--orange);
  margin-right: -10px
}

.social {
  width: 13%;
  float: right;
  margin-right: 20px;
  padding: 0;
}

footer li {
  display: inline-block;
  font-size: 24px;
}

footer a:hover {
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 0;
  color: var(--black);
}

/******************************
FLEXBOX
******************************/


.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.item {
  justify-content: flex-start;
  padding: 0 0px;
  align-items: flex-start;

}

.logo {
  margin-right: auto;
}

.last-item {
  margin-right: 20px;
}

.row {
  flex: 1;
}

/******************************
MEDIA QUERIES
******************************/


@media (max-width: 1024px) {

  a {
    font-size: 13px;
  }

  .row {
    max-width: 100%;
    margin: 5px 0;
  }

  .main-nav {
    flex-wrap: wrap;

  }

  .body-header {
      font-size: 19px;
      margin-left: 5px;
    }

  .body-text {
      font-size: 11px;
      margin: 0 8px;
    }

  button {
    height: 30px;
    width: 150px;
    font-size: 16px;
    }

  .banner {
      height: 40vh;
    }

  .about {
    font-size: 12px;
  }

  .about-header {
    margin-top: 170px;
  }

  .about-img {
    width: 30%;
    height: 40%;
    margin-right: 40px;
  }

  .lessons {
    font-size: 12px;
  }

  .lessons-header {
    margin-top: 170px;
  }

  #contact-form {
    width: 80%;
  }

  #contact-heading {
    width: 100%;
    font-size: 24px;
  }

  .teachers-list {
    margin-top: 180px;
  }
}

@media (max-width: 768px) {

  .main-header  {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
  }

  .nav-btn svg {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
  }

  .banner {
    display: none;
  }

  .logo {
    width: 250px;
    margin: auto;
}

  .main-nav ul {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;

    background-color: var(--color-nav);
    display: none;
  }

   .main-nav-ul.open {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }

  .item {
    padding: 20px;
    display: block;
  }

  button {
    height: 30px;
    width: 150px;
    font-size: .9em;
  }

  .row {
    max-width: 100%;
    margin: 0;
    padding: 0
  }

  .row-top {
    margin-top: 170px;
    }

  .social-icon {
    width: 20px;
    height: 20px;
    margin-right: -20px;
    padding: 5px;
  }

  .social {
    width: 20%;
  }

  footer li {
    visibility: visible;
  }

  .phone {
    width: 150px;
    margin: auto;
  }

  #first-name,
  #last-name,
  #phone-number,
  #instrument,
  #email,
  #enquiry
    {
    width: 60%;
  }

  #submit-button {
    margin-left: 35%
  }

  label,
  input,
  textarea {
    font-size: 12px;
  }

  #disclaimer {
    font-size: 8px;
  }

  .about {
    font-size: 8px;
  }

  .about-header {
    margin-top: 170px;
  }

  .about-img {
    width: 50%;
    height: 25%;
    margin-right: 30px;
  }

  .teachers-list {
    font-size: 12px;
  }

  .lessons {
    font-size: 8px;
  }

  .lessons-header {
    margin-top: 170px;
  }

}
